.CreateTodoButton {
   background-color: #1c56c9;
   box-shadow: 0 4px 8px 0 rgba(27, 218, 250, 0.2);
   border: none;
   border-radius: 50%;
   cursor: pointer;
   font-size: 40px;
   font-weight: bold;
   position: fixed;
   bottom: 24px;
   /* right: 24px; */
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;
   width: 60px;
   z-index: 1;

   transform: rotate(0);
   transition: .3s ease;
}

.CreateTodoButton:hover {
   background-color: #316de5;
   transform: rotate(135deg);
}