body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  Color: #333232;
  font-family: 'Inter', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}