body {
  margin: 0;
  padding: 0;
  /* background-color: #d8d8d8; */
  background-image: url("./assets/background-img.svg");
  background-size: 100% auto;
  Color: #333232;
  font-family: 'Inter', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  padding: 0 24px;
  background-color: #f0f0f0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 640px;
}