.TodoCounter {
   font-size: 32px;
   text-align: center;
   margin: 24px;
   padding: 16px;
   font-weight: bold;
   font-family: 'Space Grotesk';
}

.CounterText {
   font-size: 18px;
   font-weight: normal;
   margin: 0;
   color: rgb(84, 84, 84);
   font-family: 'Inter';
}

span {
   font-weight: bold;
   color: black;
}