.TodoCounter {
   font-size: 32px;
   text-align: center;
   margin: 24px;
   padding: 16px;
   font-weight: bold;
}

.CounterText {
   font-size: 18px;
   font-weight: normal;
}

span {
   font-weight: bold;
}